<div class = "top">
<section class="container">
  <h1>
   <%= link_to blogs_path,class:"text" do %>  
    <span class="title">Lets</span>
    <span class="title">Start</span>
    <span class="title">Studying!</span>
   <% end %>
  </h1>
  
  <div class="button">restart</div>
</section>

<script src="src/script.js"></script>

</div>